

.myo{
    background-color:$blue;

    h1 {
        color: white;
        text-align: center;
      margin: 0;
      padding: 0;
    }
}

.myo-content {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding-top: 30px;

    h1 {
        color: white;
        text-align: center;
      margin: 0;
      padding: 0;
      font-size: $big-text;
    }

    p {
        color: $blue;
        font-size: 2rem;
    }
}




.myo-img-text-box {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center; /* Center items vertically */
    height: 70vh;
    justify-content: space-around;
    padding-top: 50px;
  }

  .myo-img-text-box-two {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center; /* Center items vertically */
    height: 70vh;
    justify-content: space-around;
    padding-top: 50px;
  }

  .myo-text-content {
    background-color: $blue;
    width: 100%;
    height: 350px;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


   h1 {
   font-size: 2rem;

}
    h1, p {
        text-align: left;
        padding: 1rem 3.5rem;
        
        color: white;
    }


   }

   .myo-text-content-two {
    background-color: $red;
    width: 100%;
    height: 43vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    padding: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;




    h1 {
        text-align: left;
        font-size: 2.2rem;
        padding: 1rem 3.5rem;
        margin-bottom: 0;
        margin-top: 60px;
        color: white;


    }

    p {
        color: white;
       font-size: 1rem;
        padding: .5rem 3.5rem;
        margin-top: 0;
        width: 100%;

    }

    ul {
        
        color: white;
        font-family: 'Preahvihear', sans-serif;
        font-size: 0.8rem;
       display: flex;
       flex-direction: column;
      align-items: flex-start;
      margin-bottom: 90px;
      

    
    }

   }

   .myo-img {
    height: 480px;
    width: 670px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    
}

.myo-img-2 {
    height: 480px;
    width: 700px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;

    
}
