

.speech-section {
    height: 100%; // Use min-height to ensure the content dictates the height
  }


 
.speech{
    background-color:$blue;

    h1 {
        color: white;
        text-align: center;
      margin: 0;
      padding: 8px;
      font-size: 2rem;

      @media(max-width:768px) {
        font-size: 1.4rem;
        text-align: center;
       }
    }
}

.speech-hero {
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        opacity: 1;

        @media(max-width:768px) {
            min-height: auto; // Allow content to expand if it's taller than 40vh
           }
}






.speech-header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
   

    h1 {
        color: white;
        text-align: center;
      margin: 0;
      padding: 0;
      font-size: $big-text;

      @media(max-width:768px) {
        font-size: 2rem;
        text-align: center;
       }
    }

    p {
        background-image: linear-gradient(to right, rgb(132, 167, 250), $red);
       color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 2rem;

        @media(max-width:768px) {
            font-size: 1rem;
            text-align: center;
           }
    }
}




.speech-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 100%;
    @media (max-width: 768px) {
      padding: 30px;
    }
  

 

  .speech-content {
   background-color: $blue;
    width: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 
   
    @media(max-width:768px) {
        margin-bottom: 20px;
    
       }

   h1 {
   font-size: 2rem;


   @media(max-width:768px) {
    font-size: 1.5rem;
    text-align: center;
   }
}

    p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;

        @media(max-width:768px) {
            font-size: 0.7rem;
            text-align: center;
           }

}
    h1, p {
        padding: 1rem 3rem;
        color: white;
    }


   }

   .speech-content-two {
    background-color: $red;
   width: 80%;
   height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;

   
    
    h1 {
        text-align: center;
        font-size: 2rem;
        padding: 1rem 3rem;
    
        color: rgb(255, 255, 255);

        @media(max-width:768px) {
            font-size: 1.5rem;
            text-align: center;
           
           }
    }

    p {
        color: white;
       
       padding: 1rem 2rem;
       font-family: 'Open Sans', sans-serif;

       @media(max-width:768px) {
        font-size: 0.6rem;
        text-align: center;
       }
       
    }

    ul {
        
        color: white;
        font-family: 'Open Sans', sans-serif;
       display: flex;
       flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 2rem;

      @media(max-width:768px) {
        font-size: 0.7rem;
        text-align: center;
       }
    }

   }
}

